/* css reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    background-color: #eceff2;
}

a {
    text-decoration: none;
    color: #333;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
    flex: 1;
    padding: 30px 100px;
}